html {
position: relative;
min-height : 100% ;
min-width: 100%;
}
body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:100% !important;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
  padding-right: 100px;
}
.button {
	position: relative;
	margin-top: 80px;
	
}
.btn {
	width: 220px;
	display: inline-block;
  padding: 10px 0px;
  color:#ffffff;
  text-decoration: none;
  margin: 5% 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: Arial;
}
.btn_1{
	background: purple;
	border-radius: 10px;
}
.btn_2{
  background:blue;
  border-radius: 10px;
}
.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
/* Header **/
header{
  background: blue;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label span, 
.nav-toggle-label span:before,
.nav-toggle-label span:after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span:before,
.nav-toggle-label span:after {
  content: '';
  position: absolute;
}
.nav-toggle-label span:before {
  bottom: 7px;
}
.nav-toggle-label span:after {
  top: 7px;
}
.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: blue;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out ;
}
nav a:hover {
  color: #000;
}
.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Showcase */
#showcase{
  min-height:500px;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/showcase.jpg');
  text-align:center;
  color:#ffffff;
  background-size: cover;
}

#showcase h1{
  margin-top:200px;
  font-size:25px;
  font-weight: bold;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* main */
#main{
  padding:15px;
  color:black;
  background: #f4f4f4;
}

#main h1{
  float:center;
  text-align: center;
}


/* Boxes */
#boxes{
	width: 100%;
  margin-top:20px;
  margin-bottom: 60px;
}
#boxes .box h3 {
	text-align: center;
}
#boxes .container{
  width: 100%;
  height: auto;
  background: white;
  /*flex*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}
.box {
  width: 30%;
  height: auto;
  background: white;
  margin:20px;
  box-sizing: border-box;
  font-size: 16px;
}
/*#boxes .box{
	transition: 0.4s;
	background: white;
	font-size: 16px;
  float:left;
  text-align: left;
  width:30%;
  justify-content: space-between;
  margin: 5px;
  padding: 0 10px;
}*/

#boxes .box img{
  width:100%;
}

footer{
  background-color : #c4c4c4;
position: absolute;
left: 0 ;
bottom: 0 ;
text-align: center;

height: 50px ;
width : 100% ;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #main,
  #main h1,
  #boxes .box,

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }
  }
  @media screen and (max-width:1200px){
    .box{
      width: 40%;
    }
  }
  @media screen and (max-width:600px){
    .box{
      width: 90%;
    }
  }
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr)
    }
    .logo {
      grid-column: 2 / 3;
    }
    nav {
      all: unset;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    nav ul {
      display: flex;
      justify-content: flex-end;

    }
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    nav a {
      opacity: 1;
    }
  }